<div class="login-conteiner">
    <div class="login-conteiner-content">
        <p>Sign in</p>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput type="text" [(ngModel)]="login" (keyup.enter)="onClickLogin()">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="password" (keyup.enter)="onClickLogin()">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onClickLogin()">Войти</button>
    </div>
</div>