<div class="main-conteiner">
    <div class="conteiner">
        <span>
            Дата c которой формируется отчет: {{currentDate|date:'yyyy-MM-dd'}}
        </span>
        <div class="control">
            <mat-form-field appearance="outline">
                <mat-label>Дата отчета с:</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="reportDateStart">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Дата отчета по:</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="reportDateEnd">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field> -->
        </div>
        <button mat-raised-button *ngIf="loadingResponce === false" (click)="GetReportMile()"
            [disabled]="!reportDateStart">
            Выгрузить отчет по милям
        </button>
        <button mat-raised-button *ngIf="loadingResponce === false" (click)="GetReportNovosel()"
            [disabled]="!reportDateStart">
            Выгрузить отчет по новоселам
        </button>
        <button mat-raised-button *ngIf="loadingResponce === false" (click)="GetReportNovosel()"
            [disabled]="!reportDateStart">
            Выгрузить отчет по обнуленным картам
        </button>
        <mat-progress-bar mode="indeterminate" *ngIf="loadingResponce === true"
            style="margin-top: 10px; width: 40%;"></mat-progress-bar>
    </div>
</div>